@{
    ViewData["Title"] = "Contact";
}
<input type="file" class="form-control" id="uploadFiles" />
<button class="btn btn-default" id="btnsave">Upload file</button>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnsave").click(function () {
                var img = $("#uploadFiles").get(0).files[0];
                var content = "Good Post for adding 22";
                var userId = "d2dcff3e-3a31-4114-b700-7a4c4849244b";
                var dataSend = new FormData()
                dataSend.append("image", img);
                dataSend.append("content", content);
                dataSend.append("ApplicationUserId", userId);
                $.ajax({
                    url: "/api/post/AddPost",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: dataSend,
                    success: function (data) {
                        if (data.message == 'Success') {
                            alert("Added successfully")
                        } else {
                            alert("Try again")
                        }
                    }
                })
            })
        })
    </script>
}