@{
    ViewData["Title"] = "About";
}

<h2>
    اهلا بك  فى لوحه  التحكم  الخاصه بك
</h2>
@section scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
}
