@model List<MainBanner>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <!-- Datatables css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/datatables.css">
}

<div class="col-sm-12" style="margin-top:40px">
    <div class="card">
        <div class="card-header">
            <h5>البانرات</h5>
        </div>
        <div class="card-body order-datatable">
            <table class="display" id="basic-1" style="display:inline-table">
                <thead>
                    <tr>
                        <th style="text-align:center;width:25%">الحركه</th>
                        <th style="text-align:center;width:30%">الصوره الاساسية</th>
                        <th style="text-align:center;width:30%">الصوره الاولى</th>
                        <th style="text-align:center;width:15%"><a class="btn btn-success btn-block" href="/MainBanner/Create"><i class="fa fa-plus"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MainBanner item in Model)
                    {
                    <tr>
                        <td>@item.actions</td>
                        <td style="text-align:center"><img src="~/MainBanner/@item.MainImage" alt="" class="img-80 thumbnail img-fluid blur-up lazyloaded"></td>
                        <td style="text-align:center"><img src="~/MainBanner/@item.Img1" alt="" class="img-80 thumbnail img-fluid blur-up lazyloaded"></td>
                        <td>
                            <a class="btn btn-secondary" href="/MainBanner/Edit/@item.Id"><i class="fa fa-pencil"></i></a>
                            <button class="btn btn-primary" id="@item.Id"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@*<button class="btn btn-success Send">Send message</button>*@
@section scripts{
    <!-- Datatable js-->
    <script src="~/assets/js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatables/custom-basic.js"></script>
    <script>
        $(document).ready(function () {          
            $(".btn-primary").click(function () {
                debugger;
                if (confirm("هل انت متاكد من ذلك")) {
                    var btn = this;
                    var id = btn.id;
                    var _row = btn.parentElement.parentElement;
                    if (id > 0) {
                        $.ajax({
                            url: "/MainBanner/Delete/" + id,
                            type: "POST",
                            success: function (data) {
                                if (data.msg == 'Done') {
                                    _row.remove();
                                } else {
                                    alert("يرجى المحاوله مره اخرى")
                                }
                            }
                        })
                    }
                }
            })           
        })
    </script>
}