@model List<Fitness.Controllers.customMsg>
@{
    ViewData["Title"] = "الرسائل";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <!-- Datatables css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/datatables.css">
}
<div class="col-sm-12" style="margin-top:40px">
    <div class="card">
        <div class="card-header">
            <h5>الرسائل</h5>
        </div>
        <div class="card-body order-datatable">
            <table class="display" id="basic-1" style="display:inline-table">
                <thead>
                    <tr>
                        <th style="width:15%;text-align:center">المستخدم</th>
                        <th style="width:60%;text-align:center">الرساله</th>
                        <th style="width:10%;text-align:center">التاريخ</th>
                        <th style="width:15%;text-align:center">الرد</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Fitness.Controllers.customMsg item in Model)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td style="text-align:center"> @item.LastMsg</td>
                            <td style="text-align:center">@item.Date.ToShortDateString()</td>
                            <td>
                                <a class="btn btn-secondary" href="/Messenger/chating?userId=@item.UserId">الرد</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <!-- Datatable js-->
    <script src="~/assets/js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatables/custom-basic.js"></script>
    <script src="~/assets/js/notify.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnSaveAddRole").click(function () {
                debugger;
                var roleName = $("#roleName").val();
                var _userName = $("#userNameData").val();
                if (roleName != "") {
                    $("#roleName").css("border", "1px solid #cccccc")
                } else { $("#roleName").css("border", "1px solid red"); $("#roleName").select(); return; }
                $.ajax({
                    url: "/Adminstration/AddRole",
                    type: "POST",
                    data: { "roleName": roleName, "UserName": _userName },
                    success: function (data) {
                        if (data.msg == 'Done') {
                            $.notify("تمت اضافه الصلاحيه للمستخدم بنجاح", {
                                globalPosition: "top center",
                                className: "success"
                            })
                            location.reload();
                        } else {
                            $.notify(data.alertMsg, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                })
            })

            var addroles = document.getElementsByClassName("addroles")
            for (var e = 0; e < addroles.length; e++) {
                var addrole = addroles[e];
                addrole.addEventListener('click', function (event) {
                    var btn = event.target;
                    var userName = btn.id;
                    if (userName != "") {
                        $("#userNameData").val(userName);
                        $("#exampleModal").modal('show');
                    }
                })
            }
            var CheckBtns = document.getElementsByClassName("blockUser")
            for (var e = 0; e < CheckBtns.length; e++) {
                var CheckBtn = CheckBtns[e];
                CheckBtn.addEventListener('click', function (event) {
                    var btn = event.target;
                    var userName = btn.id;
                    var clickedRow = btn.parentElement.parentElement;
                    $.ajax({
                        url: "/Adminstration/block",
                        type: "POST",
                        data: { "UserName": userName },
                        success: function (data) {
                            if (data.msg == 'Done') {
                                $.notify(" تمت حظر المستخدم بنجاح ", { globalPosition: "top center", className: "success" })
                                $(clickedRow).remove();
                            } else {
                                $.notify("يرجى المحاوله مره اخرى", { globalPosition: "top center", className: "error" })
                            }
                        }
                    })
                })
            }
        })
    </script>
}
